


/* Global Styles */
body {
    background-color: hsl(220, 68%, 83%);
    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Vertically center content */
    font-family:'Outfit', sans-serif;
}

.container {
    width: 25%; 
    max-width: 360px; /* Adjust as needed */
    margin: 0 auto; /* Center-align container */
    text-align: center;
    background-color: white;
    border-radius: 25px;
    padding: 20px; /* Add padding for better spacing */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.container img {
    width: 100%; /* Adjust image width for container */
    display: block;
    
    border-radius: 25px;
}

.container h3 p {
    font-family: 'Outfit', sans-serif;
    text-align: center;
}

.container h3 {
    font-weight: 700;
}

.container p {
    font-weight: 400;
}

/* Mobile Styles */
@media (max-width: 375px) {
    .container {
        width: 25%;
}
}
